name: golangci-lint

on:
  push:
    tags: [ 'v*' ]
    branches: [ 'main', 'release-*']
  pull_request:
    branches: [ 'main', 'release-*']

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
