<html>
<head>
    <title>{{ .Title }}</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
    </script>
    <style>

    .board {
        clear: right;
        border: 1px solid #666;
        display: inline-block;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        text-align: center;
    }

    </style>
</head>
<body>
    <h1>{{ .Title }}</h1>

    {{ range .Categories }}
        <h2>{{ .Title }}</h2>

        {{ range .Charts }}
            <div class="board">
            <h3>{{ .Title }}</h3>
            <div id="chart_{{ .ID }}" style="width: 280px; height: 280px;"></div>
            <script type="text/javascript">
                google.charts.setOnLoadCallback(draw{{ .ID}});

                function draw{{.ID}}() {
                    var data = new google.visualization.arrayToDataTable([
                    ['{{.Object}}', '{{.Metric}}', { role: 'annotation' }],
                    {{ range .Items }}["{{.Name}}", {{.Count}}, "{{.Count}}"],
                    {{ end }}
                    ]);

                    var options = {
                    axisTitlesPosition: 'none',

                    bars: 'horizontal', // Required for Material Bar Charts.
                    axes: {
                        x: {
                        y: { side: 'top'} // Top x-axis.
                        }
                    },
                    legend: { position: "none" },
                    bar: { groupWidth: "95%" }
                    };

                   var chart = new google.visualization.BarChart(document.getElementById('chart_{{.ID }}'));
                   chart.draw(data, options);
                };
            </script>
            </div>
        {{ end }}
    {{ end}}
</body>
</html>