<html>
<head>
    <title>{{ .Title }}</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
    </script>
</head>
<body>
    <h1>{{ .Title }}</h1>

    {{ range .Categories }}
        <h2>{{ .Title }}</h2>

        {{ range .Charts }}
            <div class="board">
            <h3>{{ .Title }}</h3>
            <div id="chart_{{ .ID }}" style="width: 250px; height: 600px;"></div>
            <script type="text/javascript">
                google.charts.setOnLoadCallback(draw{{ .ID}});

                function draw{{.ID}}() {
                    var data = new google.visualization.arrayToDataTable([
                    ['{{.Object}}', '{{.Metric}}'],
                    {{ range .Rows }}["{{.Title}}", {{.Quantity}}],{{ end }}
                    ]);

                    var options = {
                    bars: 'horizontal', // Required for Material Bar Charts.
                    axes: {
                        x: {
                        0: { side: 'top', label: '{{.Metric}}'} // Top x-axis.
                        }
                    },
                    bar: { groupWidth: "90%" }
                    };

                   var chart = new google.charts.Bar(document.getElementById('chart_{{.ID }}'));
                   chart.draw(data, options);
                };
            </script>
            </div>
        {{ end }}
        <hr />
    {{ end}}
</body>
